body {
    background-image: url('http://cdn29.us1.fansshare.com/images/wallpapers1920x1080/mario-pattern-abstract-wallpaper-pattern-wallpapers-1218290722.jpg');
}

.rating {
    width: 500px;
    height: 100vh;
    margin: auto;
}

.rating:hover i {
    cursor: pointer;
    color: #ffee0070;
}

.rating>i:hover~i {
    color: #ffee00;
}

.rating__star {
    height: 100vh;
    color: #ffee00;
    font-size: 5rem;
    text-shadow: 0px -1px 5px #fff;
    margin-top: 50vh;
}


/* .rating__star:hover {
    cursor: pointer;
    color: #ffee0070;
} */