.rating {
    width: 250px;
    position: absolute;
    top: 50%;
    left: calc( 50% - 125px);
}

.rating__star {
    color: #ffee00;
}

.rating__star:hover {
    cursor: pointer;
    color: #ffee0075;
}