body {
    background-image: url('http://cdn29.us1.fansshare.com/images/wallpapers1920x1080/mario-pattern-abstract-wallpaper-pattern-wallpapers-1218290722.jpg');
}

.rating {
    position: absolute;
    top: 50vh;
    left: calc(50vw - 250px);
}

.rating:hover i {
    cursor: pointer;
    color: #fff67cdc;
}

.rating>i:hover~i {
    color: #ffee00;
}

.rating__star {
    height: auto;
    color: #ffee00;
    font-size: 5rem;
    /* text-shadow: 0px -1px 5px #fff; */
}


/* .rating__star:hover {
    cursor: pointer;
    color: #ffee0070;
} */